In [33]:
from seleniumwire import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service as ChromeService

from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from datetime import date, timedelta
import httpx
import dateutil.parser
import inflection
import pandas as pd
import json
from sqlalchemy import create_engine

In [34]:
CONED_EMAIL = ''
CONED_PASSWORD = ''
CONED_ACCOUNT_ID = ''
MFA_ANSWER = ''
PGSQL_CONNECTION_STRING=''

## GetOPowerToken

In [35]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

driver.get("https://www.coned.com/en/")

# Go to login page
button = WebDriverWait(driver, 15).until(
    EC.presence_of_element_located(
        (By.CSS_SELECTOR, "button.primary-nav-item__btn.js-nav-login"))
)
button.click()

# Enter credentials
email_input = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.ID, "modal-login-email"))
)
email_input.send_keys(CONED_EMAIL)
password_input = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.ID, "modal-login-password"))
)
password_input.send_keys(CONED_PASSWORD)

login_button = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located(
        (By.CSS_SELECTOR, "button.button.submit-button.submit-button--login-dropdown.tag-extra-verification-dropdown.js-transactional-submit-selector.js-login-submit-button.tag-submit-button-dropdown[type='submit']"))
)

# Sign in
login_button.click()

# Enter MFA
mfa_input = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.ID, "form-login-mfa-code"))
)
mfa_input = WebDriverWait(driver, 10).until(
    EC.element_to_be_clickable((By.ID, "form-login-mfa-code"))
)
mfa_input.send_keys(MFA_ANSWER)

submit_mfa_button = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located(
        (By.CSS_SELECTOR, "button.button.submit-button.tag-extra-verification-dropdown.submit-button--login-dropdown.js-transactional-submit-selector.js-device-submit-button[type='submit']"))
)
submit_mfa_button.click()

====== WebDriver manager ======
Current google-chrome version is 113.0.5672
Get LATEST chromedriver version for 113.0.5672 google-chrome
Driver [C:\Users\tmwal\.wdm\drivers\chromedriver\win32\113.0.5672.63\chromedriver.exe] found in cache

In [36]:
WebDriverWait(driver, 30).until(
    EC.presence_of_element_located(
        (By.CSS_SELECTOR, f'*[data-account="{CONED_ACCOUNT_ID}"]'))
)
#driver.wait_for_request('https://www.coned.com/en', timeout=30)
driver.get('https://www.coned.com/en/accounts-billing/my-account/energy-use')
request = driver.wait_for_request(
    'https://www.coned.com/sitecore/api/ssc/ConEd-Cms-Services-Controllers-Opower/OpowerService/0/GetOPowerToken', timeout=30)
bearer_token = request.response.body.decode().strip('\"')
bearer_token

'eyJraWQiOiJHVzltWUtEQl9IaUxyYU5lSG44VEYzT0QtRG5YX0xZMmJxU3BGaUhrT1BNIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULmFVOGYzTndpT3BfSzFhQnBFZUdFc1lIQkpzYVV2a0s4YUhuVU5sMnc2U28ub2FyMTc5cTdmeGVPNkJnQUQweDciLCJpc3MiOiJodHRwczovL2NvbmVkLm9rdGEuY29tL29hdXRoMi9hdXNkc2tpdnNocmFTMTNkNjB4NyIsImF1ZCI6Imh0dHBzOi8vYXBpLmNvbmVkLmNvbSIsImlhdCI6MTY4MzgyNzE2NywiZXhwIjoxNjgzODI4OTY3LCJjaWQiOiJLVVFlcE5XbFdLUWxPYWtCVTVvMyIsInVpZCI6IjAwdXZ5ajB3ZnJjbm1zcGV3MHg3Iiwic2NwIjpbImRjeC5yZWFkX3Byb2ZpbGVfYWNjb3VudHMiLCJvZmZsaW5lX2FjY2VzcyJdLCJhdXRoX3RpbWUiOjE2ODM4MjcxNTUsInN1YiI6InRtd2FsdGVyOThAZ21haWwuY29tIn0.u7hzQzfeiZSIuZooXotj1hMidr1KQyHIRP0dehjXnUWoUli4-UIS0rDwtSvuked01z1OWFj8R0EcxnlJjCxnKYFG8CVVfg6GXhfdvUfungN13abl9uAqVbrSXsXjCv7rUff688Y64Q5mHKOt5_lzmytOLtfzWitZ6u8WL7QlKvCI-MRCuG3bLV1HA7lgJ369by5Zbq7dpNICTddAiYwiGFSWtW4XmSb-inKoFxhTlCMY8cUYySKgyYXWPPaj35T3u_VGUWzrfDHtBnEjP9B8SYMkI6jSqYw2O-Fo8xoZ-KjmzaZYjzAXXnP0FuCi4P8kvdln_RJlpXS-qQ1R-8YcUw'

### Now use OPowerToken to access all data :)

In [43]:
def datetime_parser(json_dict):
    for (key, value) in json_dict.items():
        try:
            json_dict[key] = dateutil.parser.parse(value)
        except Exception:
            pass
    return json_dict


class OpowerClient(httpx.Client):
    def __init__(self, customer_uuid: str, bearer_token: str):
        super().__init__(
            base_url='https://cned.opower.com/ei/edge/apis',
            headers={
                'Authorization': f'Bearer {bearer_token}',
                'Host': 'cned.opower.com',
            })
        self.customer_uuid = customer_uuid

    def get_service_accounts(self, fuel_type: str = 'ELECTRICITY'):
        res = self.get(
            f'/DataBrowser-v1/cws/metadata',
            params={
                'preferredUtilityAccountIdType': 'UTILITY_ACCOUNT_ID_2',
                'includeCommercialAndIndustrial': 'true',
                'customerUuid': self.customer_uuid,
            }
        )
        res.raise_for_status()
        return json.loads(res.text, object_hook=datetime_parser)['fuelTypeServicePoint'][fuel_type]

    def get_readings(self, service_account_id: str, start_date: date, end_date: date):
        t0, t1 = start_date, start_date + timedelta(days=30)
        readings = []

        while t0 < end_date:
            res = self.get(
                f'/DataBrowser-v1/cws/utilities/cned/utilityAccounts/{service_account_id}/reads',
                params={
                    'startDate': t0.strftime("%Y-%m-%d"),
                    'endDate': t1.strftime("%Y-%m-%d"),
                    'aggregateType': 'quarter_hour',
                    'includeEnhancedBilling': 'false',
                    'includeMultiRegisterData': 'false',
                }
            )
            response_readings = res.json(
                object_hook=datetime_parser).get('reads')
            if len(response_readings) == 0:
                break
            else:
                readings.extend(response_readings)
            t0 = t0 + timedelta(days=30)
            t1 = t1 + timedelta(days=30)
        return readings


client = OpowerClient(
    '17ec657f-14cd-11ed-ad4a-0200170a92cd', bearer_token=bearer_token)
meta = client.get_service_accounts()[0]
readings = client.get_readings(
    meta['accountUuid'], meta['dateOfFirstAmiRead'], meta['dateOfLastAmiRead'])
print(len(readings))

30765

In [46]:
df = pd.json_normalize(readings, sep='_')
df.rename(mapper={k: inflection.underscore(k)
          for k in df.columns}, axis=1, inplace=True)

df_sql = df[['start_time', 'end_time', 'consumption_type', 'consumption_value']].copy()
df_sql['start_time'] = pd.to_datetime(df_sql['start_time'], utc=True)
df_sql['end_time'] = pd.to_datetime(df_sql['end_time'], utc=True)
#df_sql.set_index(keys=['start_time', 'end_time'], inplace=True)

engine = create_engine(
    PGSQL_CONNECTION_STRING,
    echo=False,)
df_sql.to_sql('opower_readings', engine, if_exists='replace', index=True)

df_sql.head()

,start_time,end_time,consumption_type,consumption_value
0,2022-07-03 04:00:00+00:00,2022-07-03 04:15:00+00:00,ACTUAL,0.180
1,2022-07-03 04:15:00+00:00,2022-07-03 04:30:00+00:00,ACTUAL,0.186
2,2022-07-03 04:30:00+00:00,2022-07-03 04:45:00+00:00,ACTUAL,0.213
3,2022-07-03 04:45:00+00:00,2022-07-03 05:00:00+00:00,ACTUAL,0.162
4,2022-07-03 05:00:00+00:00,2022-07-03 05:15:00+00:00,ACTUAL,0.192

In [48]:
from datetime import datetime
from datetime import timedelta
from datetime import timezone


df_sql[df_sql['end_time'] > datetime.now(timezone.utc) + timedelta(hours=-24)]

,start_time,end_time,consumption_type,consumption_value
30725,2023-05-10 18:00:00+00:00,2023-05-10 18:15:00+00:00,ACTUAL,0.087
30726,2023-05-10 18:15:00+00:00,2023-05-10 18:30:00+00:00,ACTUAL,0.084
30727,2023-05-10 18:30:00+00:00,2023-05-10 18:45:00+00:00,ACTUAL,0.084
30728,2023-05-10 18:45:00+00:00,2023-05-10 19:00:00+00:00,ACTUAL,0.087
30729,2023-05-10 19:00:00+00:00,2023-05-10 19:15:00+00:00,ACTUAL,0.084
30730,2023-05-10 19:15:00+00:00,2023-05-10 19:30:00+00:00,ACTUAL,0.081
30731,2023-05-10 19:30:00+00:00,2023-05-10 19:45:00+00:00,ACTUAL,0.081
30732,2023-05-10 19:45:00+00:00,2023-05-10 20:00:00+00:00,ACTUAL,0.081
30733,2023-05-10 20:00:00+00:00,2023-05-10 20:15:00+00:00,ACTUAL,0.084
30734,2023-05-10 20:15:00+00:00,2023-05-10 20:30:00+00:00,ACTUAL,0.078
30735,2023-05-10 20:30:00+00:00,2023-05-10 20:45:00+00:00,ACTUAL,0.150
30736,2023-05-10 20:45:00+00:00,2023-05-10 21:00:00+00:00,ACTUAL,0.129
30737,2023-05-10 21:00:00+00:00,2023-05-10 21:15:00+00:00,ACTUAL,0.150
30738,2023-05-10 21:15:00+00:00,2023-05-10 21:30:00+00:00,ACTUAL,0.156
30739,2023-05-10 21:30:00+00:00,2023-05-10 21:45:00+00:00,ACTUAL,0.138
30740,2023-05-10 21:45:00+00:00,2023-05-10 22:00:00+00:00,ACTUAL,0.168
30741,2023-05-10 22:00:00+00:00,2023-05-10 22:15:00+00:00,ACTUAL,0.150
30742,2023-05-10 22:15:00+00:00,2023-05-10 22:30:00+00:00,ACTUAL,0.126
30743,2023-05-10 22:30:00+00:00,2023-05-10 22:45:00+00:00,ACTUAL,0.135
30744,2023-05-10 22:45:00+00:00,2023-05-10 23:00:00+00:00,ACTUAL,0.129
30745,2023-05-10 23:00:00+00:00,2023-05-10 23:15:00+00:00,ACTUAL,0.309
30746,2023-05-10 23:15:00+00:00,2023-05-10 23:30:00+00:00,ACTUAL,0.090
30747,2023-05-10 23:30:00+00:00,2023-05-10 23:45:00+00:00,ACTUAL,0.132
30748,2023-05-10 23:45:00+00:00,2023-05-11 00:00:00+00:00,ACTUAL,0.090
30749,2023-05-11 00:00:00+00:00,2023-05-11 00:15:00+00:00,ACTUAL,0.102
30750,2023-05-11 00:15:00+00:00,2023-05-11 00:30:00+00:00,ACTUAL,0.102
30751,2023-05-11 00:30:00+00:00,2023-05-11 00:45:00+00:00,ACTUAL,0.117
30752,2023-05-11 00:45:00+00:00,2023-05-11 01:00:00+00:00,ACTUAL,0.114
30753,2023-05-11 01:00:00+00:00,2023-05-11 01:15:00+00:00,ACTUAL,0.108
30754,2023-05-11 01:15:00+00:00,2023-05-11 01:30:00+00:00,ACTUAL,0.099
30755,2023-05-11 01:30:00+00:00,2023-05-11 01:45:00+00:00,ACTUAL,0.072
30756,2023-05-11 01:45:00+00:00,2023-05-11 02:00:00+00:00,ACTUAL,0.063
30757,2023-05-11 02:00:00+00:00,2023-05-11 02:15:00+00:00,ACTUAL,0.075
30758,2023-05-11 02:15:00+00:00,2023-05-11 02:30:00+00:00,ACTUAL,0.078
30759,2023-05-11 02:30:00+00:00,2023-05-11 02:45:00+00:00,ACTUAL,0.087
30760,2023-05-11 02:45:00+00:00,2023-05-11 03:00:00+00:00,ACTUAL,0.090
30761,2023-05-11 03:00:00+00:00,2023-05-11 03:15:00+00:00,ACTUAL,0.084
30762,2023-05-11 03:15:00+00:00,2023-05-11 03:30:00+00:00,ACTUAL,0.090
30763,2023-05-11 03:30:00+00:00,2023-05-11 03:45:00+00:00,ACTUAL,0.084
30764,2023-05-11 03:45:00+00:00,2023-05-11 04:00:00+00:00,ACTUAL,0.081

In [39]:
from sqlalchemy import create_engine, Column, Table
from sqlalchemy.dialects.postgresql import TIMESTAMP, TEXT, BIGINT, DOUBLE_PRECISION
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker


Base = declarative_base()

class OpowerReadings(Base):
    __tablename__ = 'opower_readings'

    start_time = Column(TIMESTAMP(timezone=True), primary_key=True)
    end_time = Column(TIMESTAMP(timezone=True), primary_key=True)
    consumption_type = Column(TEXT)
    consumption_value = Column(DOUBLE_PRECISION)

# Step 2: Create the table
engine = create_engine('')
Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)

In [40]:
from typing import List
from sqlalchemy import between
from datetime import datetime
from datetime import timedelta
from datetime import timezone

t1 = datetime.now(timezone.utc) + timedelta(hours=-12)
t0 = t1 + timedelta(hours=-12)

with Session() as sess:
    readings: List[OpowerReadings] = sess.query(OpowerReadings).filter(OpowerReadings.end_time.between(t0, t1)).all()
    for r in readings:
        r.consumption_value
        print(r.consumption_value)
    print(len(readings))

0